/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.g-dis-flex{
    display: flex;
}
.g-flex-wrap{
    flex-wrap: wrap;
}
.wd-100{
    width: 100%;
}
.tx-left{
    text-align: left;
}
